.button {
  display: inline-block;
  background-color: #f25a70;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 5px 5px 0 #fff;
  margin-right: 0;
  transition: transform 100ms linear;
  text-decoration: none;
}

.button:hover {
  background-color: #df2aae;
  transform: scale(1.08);
}
