.card-projeto {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7c5e99;
  width: 280px;
  height: 280px;
  box-shadow: 10px 10px 0px #fff;
}

.card-projeto.-blue {
  background-color: #4c5bb4;
}

.section-card {
  background-color: #413f3f;
  border-bottom: 10px solid #000;
  height: 530px;
  width: 1349px;
  padding-top: 50px;
}
