.skills-tec {
  display: flex;
  align-items: center;
  font-family: "press Start 2P", sans-serif;
  font-size: 25px;
  color: #fff;
}

.skills-tec .icon {
  margin-right: 25px;
  width: 90px;
}

.skills-tec .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skills-tec .titulo {
  margin-bottom: 16px;
}
